<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>RSI GARAM KALIANGET</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />
    <link rel="stylesheet" href="./stylesheets/homepage.css" />

    <!-- CSS for Floating Action Button -->

</head>

<body>


  <div class="wrapper sticky-top">
    <div class="navbar-top ">
      <span>Contact us: 082332632929 - rsi_garam@yahoo.co.id</span>
    </div>

    <nav class="navbar navbar-expand-lg bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../images/logo-rsi.png" alt="Logo" class="d-inline-block align-text-top" style="height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#beranda"><small>BERANDA</small></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#motto"><small>MOTTO</small></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/dokter/users"><small>DOKTER</small></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/layanan/users"><small>LAYANAN</small></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/artikel/users"><small>ARTIKEL</small></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/tentang_kami/users"><small>TENTANG KAMI</small></a>
            </li>
          </ul>
          <form class="d-flex">
            <a class="btn btn-daftar" href="https://pmo.rsigaramkalianget.com/#daftar" role="button"><small>Daftar</small></a>
          </form>
        </div>
      </div>
    </nav>


  </div>


  <main>
    <div id="beranda" class="beranda">
      <div class="container content">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner rounded-4 mt-3">
            <div class="carousel-item active">
              <img src="../images/awal.png" class="d-block " alt="...">
            </div>
            <div class="carousel-item">
              <img src="../images/awal.png" class="d-block " alt="...">
            </div>
            <div class="carousel-item">
              <img src="../images/awal.png" class="d-block " alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!-- <div id="beranda" class="beranda">
      <div class="container-fluid-beranda">
        <div class="card-beranda mb-3 mx-auto">
          <div class="row g-0">
            <div class="col-md-7">
              <div class="card text-bg-dark">
                <img src="../images/hospital.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h3 class="card-title text-white mb-5">Selamat Datang di 
                    RSI Garam Kalianget</h3>
                  <p class="card-text">Kami dengan hangat menyambut Anda di RSI Garam Kalianget, tempat di mana kesehatan dan kesejahteraan Anda menjadi prioritas utama kami. Di sini, kami berkomitmen untuk memberikan pelayanan medis terbaik dengan standar profesionalisme yang tinggi.</p>>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-container ">
                <div class="text-center">
                  <h3><b>Cari Jadwal Dokter</b></h3>
                  <p class="text-primary">Temukan jadwal dokter atau buat janji dengan dokter ahli, spesialis atau
                    umum
                    </p>
                </div>
                <form>
                  <div class="cari-dokter">
                    <div class="mb-3">
                      <label for="hari" class="form-label">Pilih Hari</label>
                      <input type="text" class="form-control" id="hari" >
                    </div>
                    <div class="mb-3">
                      <label for="service" class="form-label">Pilih Layanan</label>
                      <input type="text" class="form-control" id="service" >
                    </div>
                    <div class="mb-3">
                      <label for="doctor" class="form-label">Pilih Dokter</label>
                      <input type="text" class="form-control" id="doctor" >
                    </div>
                    <a type="submit" class="btn btn-primary" href="/dokter/users">Cari</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    

    <div id="motto" class="motto">
      <div class="container-fluid-serve">
        <div class="card-serve mb-3 mx-auto">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="../images/serve.jpg" class="img-fluid " alt="Placeholder image">
            </div>
            <div class="col-md-6">
              <div class="card-body text-center">
                <h3 class="card-title"><b>Serve With Smile</b></h3>
                <br>
                <p class="card-text">Menyandang status sebagai satu-satunya Rumah Sakit di Kota Sumenep, kami memiliki
                  komitmen memberikan pelayanan dengan motto F.A.C.E with Smile (Fast-Accurate-Convenient-Effective &
                  Efficient). Saat ini kami memiliki >115 Dokter Umum, Spesialis dan Subspesialis, 320 Perawat dan Bidan
                  serta telah melayani 1,5 juta pasien setiap tahunnya.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="dokter" class="dokter">
      <!-- Menambahkan kelas responsif Bootstrap untuk tampilan mobile -->
      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5 px-5">
        <% data.slice(0, 4).forEach(function(dokter) { %>
        <div class="col d-flex">
          <div class="card-dokter flex-fill">
            <h5 class="card-title"><%= dokter.keahlian %></h5>
            <img src="../../images/dokter/<%= dokter.gambar_dokter %>" class="card-img-top dokter-img" alt="<%= dokter.nama_dokter %>">
            <div class="card-body">
              <p class="card-text-dokter"><%= dokter.nama_dokter %></p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="row mb-5">
        <div class="col text-center">
          <a class="btn btn-primary" href="./dokter/users" role="button">Lihat Selengkapnya</a>
        </div>
      </div>
    </div>
    
    
    
    <div id="layanan" class="layanan px-5 py-5">
      <div class="row g-5">
        <div class="col-md-6">
          <div class="card layanan" style="border: none;">
            <img src="../images/layanan.jpg" class="card-layanan" alt="...">
            <div class="card-body">
              <p class="card-text">
                Rumah Sakit Islam Garam Kalianget selalu berkomitmen menghadirkan inovasi layanan untuk pasien. Didukung oleh Dokter, Perawat, Paramedis dan Staf yang profesional dan ramah melayani pasien. Serta didukung dengan peralatan medis modern dan terbaru, kami yakin RSI GARAM KALIANGET akan selalu menjadi pilihan Anda dan Keluarga
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p>TEMUKAN LAYANAN YANG ANDA INGINKAN</p>
          <h3>Layanan Yang Tersedia</h3>
          <div class="list-layanan ml-4 mt-5">
            <div class="grid-container">
              <% layanan.forEach(function(item) { %>
                <a class="btn btn-primary" href="#" role="button"><%= item.nama_layanan %></a>
              <% }); %>
              <a class="btn btn-primary" href="/layanan/users" role="button">Lainnya</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
<div id="mitra" class="mitra">
  <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 g-4 mt-5 px-5">
    <div class="col">
      <div class="card mitra">
        <img src="../images/mitra-ptgaram.png" class="mitra-img" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card mitra">
        <img src="../images/mitra-bpjs.png" class="mitra-img" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card mitra">
        <img src="../images/mitra-gardamedika.jpg" class="mitra-img" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card mitra">
        <img src="../images/mitra-imcare.jpg" class="mitra-img" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card mitra">
        <img src="../images/mitra-bumi.png" class="mitra-img" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card mitra">
        <img src="../images/mitra-adira.png" class="mitra-img" alt="...">
      </div>
    </div>
  </div>
</div>



<!-- Floating Action Button -->
<a href="https://api.whatsapp.com/send?phone=6282332172543" class="float" target="_blank">
  <i class="fab fa-whatsapp my-float"></i>
</a>

<footer class="text-primary text-center text-lg-start  mt-5">
  <!-- Grid container -->
  <div class="container p-4">
      <!--Grid row-->
      <div class="row mb-5">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
              <img src="../images/logo-rsi.png" alt="Logo" class="logo logo-align" style="height: 100px;">


              <div class="mt-4">
                  <!-- Facebook -->
                  <a type="button" class="btn btn-floating btn-primary btn-lg"><i
                          class="fab fa-facebook-f"></i></a>
                  <!-- Dribbble -->
                  <a type="button" class="btn btn-floating btn-primary btn-lg"><i
                          class="fab fa-dribbble"></i></a>
                  <!-- Twitter -->
                  <a type="button" class="btn btn-floating btn-primary btn-lg"><i
                          class="fab fa-twitter"></i></a>
                  <!-- Google + -->
                  <a type="button" class="btn btn-floating btn-primary btn-lg"><i
                          class="fab fa-google-plus-g"></i></a>
                  <!-- Linkedin -->
              </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">




              <ul class="fa-ul" style="margin-left: 1.65em;">
                  <h5 class="text-uppercase mb-4">Hubungi Kami</h5>

                  <li class="mb-3">
                      <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">Pusat
                          Panggilan (08233263292)</span>
                  </li>
                  <li class="mb-3">
                      <span class="fa-li"><i class="fas fa-ambulance"></i></span><span
                          class="ms-2">IGD/Ambulance (085334367221)</span>
                  </li>
                  <li class="mb-3">
                      <span class="fa-li"><i class="fas fa-user-plus"></i></span><span
                          class="ms-2">Pendaftaran (085257098307)</span>
                  </li>
                  <li class="mb-3">
                      <span class="fa-li"><i class="fas fa-headphones"></i></span><span
                          class="ms-2">Humas/Customer Service (082332632929)</span>
                  </li>
                  <li class="mb-3">
                      <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2"
                          href="rsi_garam@yahoo.co.id">rsi_garam@yahoo.co.id</span>
                  </li>
              </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-4">Jam Kunjung</h5>
              <p>SIANG : JAM 10.00 WIB s/d 12.00 WIB</p>
              <p>SORE  : JAM 14.00 WIB s/d 18.00 WIB</p>
          </div>
          <!--Grid column-->
      </div>
      <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-primary" href="https://rsi_garam@yahoo.co.id/">RSI GARAM KALIANGET</a>
  </div>
  <!-- Copyright -->
</footer>



  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>

<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Custom scripts -->
<script type="text/javascript" src="js/script.js"></script>
</body>

</html>