<%- include('../partials/__head.ejs') %>
<body>
    <div class="container-scroller d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <!-- partial:partials/_navbar.html -->
        <!-- partial -->
        <div class="main-panel w-100">
            <div class="content-wrapper d-flex align-items-center justify-content-center">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit Data Dokter</h4>
                        <p class="card-description">
                            Basic form layout
                        </p>
                        <form action="/dokter/update/<%= id %>" method="POST" enctype="multipart/form-data" class="forms-sample">
                            <div class="form-group">
                                <label for="gambar_dokter">Foto Menu</label>
                                <input type="file" class="form-control" id="gambar_dokter" name="gambar_dokter">
                            </div>
                            <div class="form-group">
                                <label for="nama_dokter">Nama</label>
                                <input type="text" class="form-control" id="nama_dokter" name="nama_dokter" value="<%= data.nama_dokter %>" required>
                            </div>
                            <div class="form-group">
                                <label for="alamat_dokter">Alamat</label>
                                <input type="text" class="form-control" id="alamat_dokter" name="alamat_dokter" value="<%= data.alamat_dokter %>" required>
                            </div>
                            <div class="form-group">
                                <label for="no_hp">No. Hp</label>
                                <input type="text" class="form-control" id="no_hp" name="no_hp" value="<%= data.no_hp %>" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Default select</label>
                                <select class="form-control" id="exampleFormControlSelect2" name="id_keahlian" required>
                                    <option value="<%= data.id_keahlian %>"><%= data.keahlian %></option>
                                    <% for(var i=0; i < data_keahlian.length; i++){ %>
                                        <option value="<%= data_keahlian[i].id_keahlian %>"><%= data_keahlian[i].keahlian %></option>
                                    <% } %>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                            <button type="button" class="btn btn-light" onclick="history.back()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- container-scroller ends -->
<%- include('../partials/__foot.ejs') %>
</body>
</html>
