<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>RSI GARAM KALIANGET</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />
    <link rel="stylesheet" href="../../stylesheets/keranjang.css" />


</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg  border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../images/logo-rsi.png" alt="Logo" class="d-inline-block align-text-top"
                    style="height: 50px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="1.5em" height="1.5em" viewBox="0 0 24 24">
                                    <path fill="#ffff"
                                        d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14" />
                                </svg></button>
                        </form>
                    </li>

                </ul>
                <div class="d-flex align-items-center">
                    <a class="link-offset-2 link-underline link-underline-opacity-0 me-3" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
                            <path fill="#4E88AC"
                                d="M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z" />
                        </svg>
                    </a>
                    <div class="garis-vertical"></div>
                    <a class="btn btn-outline-secondary me-2" href="#" role="button">Daftar</a>
                    <a class="btn btn-success" href="#" role="button">Masuk</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navbar -->

    <div class="container-fluid-latar p-3">

        <div class="container-keranjang px-5">





            <div class="container bg-white rounded px-3 table-responsive-container">
                <table class="table text-center ">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="alamat-title ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em"
                                        viewBox="0 0 24 24">
                                        <path fill="#025589"
                                            d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7" />
                                    </svg>
                                    <b>Alamat Pengiriman</b>
                                </div>

                            </th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td class="align-middle">
                                <b><small><%= data[i].nama_penerima %> <%= data[i].no_telp_penerima %></small></b>
                            </td>
                            <td class="align-middle">
                                <small>(<%= data[i].pengantaran %>) <%= data[i].nama_alamat %></small>
                            </td>

                            <td class="align-middle text-danger">
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <!-- Semua tombol radio berbagi nama yang sama -->
                                    <input type="radio" class="btn-check" name="selectedAddress" id="btnradio_<%= i %>"
                                        autocomplete="off" value="<%= data[i].id_alamat %>"
                                        <%= data[i].selected ? 'checked' : '' %>>
                                    <label class="btn btn-outline-success" for="btnradio_<%= i %>">Gunakan</label>
                                </div>
                            </td>
                            <td class="align-middle">
                                <a href="#" class="btn btn-outline-secondary btn-sm">Hapus</a>
                            </td>
                        </tr>
                        <% } %>

                    </tbody>
                </table>
                <div class="text-center mt-3 mb-3">
                    <a href="alamat" class="btn btn-outline-secondary btn-sm">
                        + Tambah Alamat
                    </a>
                </div>
            </div>

            <div class="container bg-white rounded px-5 table-responsive-container">
                <table class="table text-center ">
                    <thead>
                        <tr>
                            <th scope="col" class="text-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em"
                                    viewBox="0 0 24 24">
                                    <path fill="#025589" fill-rule="evenodd"
                                        d="M5.586 4.586C5 5.172 5 6.114 5 8v9c0 1.886 0 2.828.586 3.414S7.114 21 9 21h6c1.886 0 2.828 0 3.414-.586S19 18.886 19 17V8c0-1.886 0-2.828-.586-3.414S16.886 4 15 4H9c-1.886 0-2.828 0-3.414.586M9 8a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2zm0 4a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2zm0 4a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2z"
                                        clip-rule="evenodd" />
                                </svg>
                                Pesanan
                            </th>
                            <th scope="col">Jumlah</th>
                            <th scope="col">Sub Total</th>
                        </tr>
                    </thead>
                    <tbody id="cart-items">
                        <% items.forEach(item => { %>
                        <tr>
                            <td>
                                <div class="d-flex justify-content-start align-items-center">
                                    <img src="../images/menu/<%= item.gambar_menu %>" class="img-cart rounded"
                                        style="width: 5rem; height: 5rem;">
                                    <div class="d-flex flex-column ms-3">
                                        <small class="nama text-primary"><%= item.nama_menu %></small>
                                        <small class="opsi text-success"><%= item.kategori_pesanan %></small>
                                        <small class="harga text-danger">Rp. <%= item.harga_menu %></small>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span class="jumlah"><%= item.jumlah %></span>
                            </td>
                            <td class="total-harga text-danger">
                                Rp. <span><%= item.harga_menu * item.jumlah %></span>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>

                </table>
            </div>


            <div class="container promo-section bg-white p-4">
                <div class="row">
                    <!-- Left column -->
                    <div class="col-md-6 p-4 py-5">
                        <div class="promo-title">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
                                <path fill="#025589"
                                    d="M12.79 21L3 11.21v2c0 .53.21 1.04.59 1.41l7.79 7.79c.78.78 2.05.78 2.83 0l6.21-6.21c.78-.78.78-2.05 0-2.83z" />
                                <path fill="#025589"
                                    d="M11.38 17.41c.39.39.9.59 1.41.59s1.02-.2 1.41-.59l6.21-6.21c.78-.78.78-2.05 0-2.83L12.62.58C12.25.21 11.74 0 11.21 0H5C3.9 0 3 .9 3 2v6.21c0 .53.21 1.04.59 1.41zM5 2h6.21L19 9.79L12.79 16L5 8.21z" />
                                <circle cx="7.25" cy="4.25" r="1.25" fill="#025589" />
                            </svg>
                            <h5><b>KODE PROMO/DISKON</b></h5>
                        </div>
                        <div class="mt-3">
                            <div class="input-group " style="width: 18rem;">
                                <input type="text" class="form-control" placeholder="Masukkan kode">
                                <button class="btn btn-primary" type="button">Tukar</button>
                            </div>
                        </div>
                    </div>

                    <!-- Bagian subtotal, diskon, dan total -->
                    <div class="col-md-6 text-end">
                        <!-- Menampilkan Subtotal -->
                        <p>Subtotal <span id="subtotal" class="float-end">Rp.
                                <%= subtotal.toLocaleString('id-ID') %></span></p>
                        <!-- Promo Diskon -->
                        <p class="promo-discount">Promo Jum'at Berkah <span class="float-end">-0%</span></p>
                        <hr>
                        <!-- Menampilkan Total Harga -->
                        <p class="promo-total">
                            Total <span id="total" class="float-end">Rp. <%= total.toLocaleString('id-ID') %></span>
                        </p>
                        <a class="btn btn-custom mt-3 checkout-button" href="#">Checkout</a>
                    </div>



                </div>
            </div>

        </div>

        <!-- funcion gunakan -->
        <script>
            const checkbox = document.getElementById("btn-check-2-outlined");
            const label = document.getElementById("btn-label");

            checkbox.addEventListener("change", function () {
                if (checkbox.checked) {
                    label.textContent = "Digunakan";
                } else {
                    label.textContent = "Gunakan";
                }
            });
        </script>

        <!-- funcion jumlah -->
        <script>
            // Mendapatkan semua checkbox dan label
            const checkboxes = document.querySelectorAll(".toggle-checkbox");
            const labels = document.querySelectorAll(".toggle-label");

            // Iterasi melalui semua checkbox dan tambahkan event listener
            checkboxes.forEach(function (checkbox, index) {
                checkbox.addEventListener("change", function () {
                    if (checkbox.checked) {
                        labels[index].textContent = "Digunakan";
                    } else {
                        labels[index].textContent = "Gunakan";
                    }
                });
            });
        </script>


        <script>
            document.querySelector('.checkout-button').addEventListener('click', async function (e) {
                e.preventDefault();

                console.log("button diklik  ")

                // Ambil semua checkbox yang dicentang
                const checkedItems = Array.from(document.querySelectorAll('.item-checkbox:checked')).map(
                    checkbox => {
                        console.log('Checkbox yang tercentang:',
                            checkbox); // Debugging: periksa checkbox yang tercentang
                        console.log('Value Checkbox:', checkbox
                            .value); // Debugging: periksa value dari checkbox

                        // Parsing nilai JSON dari checkbox
                        let itemData = JSON.parse(checkbox.value);
                        console.log('Item yang diambil:',
                            itemData); // Debugging: tampilkan data item yang diambil

                        // Mengambil ID pembayaran dari elemen <small class="id text-danger">
                        const itemElement = checkbox.closest('.item');
                        if (itemElement) {
                            const idElement = itemElement.querySelector('.id');
                            if (idElement) {
                                itemData.id_pembayaran = idElement
                                    .textContent; // Menambahkan id_pembayaran ke data item
                                console.log('ID Pembayaran yang diambil:', itemData
                                    .id_pembayaran); // Debugging: periksa ID
                            } else {
                                console.warn('ID pembayaran tidak ditemukan untuk item', itemData);
                            }
                        }

                        return itemData.id_pembayaran; // Kirim ID pembayaran (id_pembayaran) saja
                    });

                console.log('Item yang akan dikirim ke server:',
                    checkedItems); // Debugging: tampilkan array item yang akan dikirim

                // Periksa apakah ada item yang dicentang
                if (checkedItems.length === 0) {
                    alert('Pilih setidaknya satu item untuk melanjutkan checkout.');
                    return;
                }

                // Kirim data ke server menggunakan fetch
                const response = await fetch('/catering/checkout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        itemIds: checkedItems // Hanya kirim ID pembayaran
                    }),
                });

                if (response.ok) {
                    const data = await response.text();
                    document.body.innerHTML = data; // Menyisipkan HTML respons ke dalam body
                } else {
                    const errorText = await response.text();
                    alert(`Terjadi kesalahan: ${errorText}`);
                }
            });
        </script>



        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous">
        </script>

        <script type="text/javascript" src="js/mdb.min.js"></script>
        <!-- Custom scripts -->
        <script type="text/javascript" src="js/script.js"></script>
    </div>
</body>

</html>