<%- include('../partials/__head.ejs') %>
<body>
    <div class="container-scroller d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="main-panel w-100">
            <div class="content-wrapper d-flex align-items-center justify-content-center">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit Data Pembayaran</h4>
                            <form action="/pembayaran/update/<%= id %>" method="POST" class="forms-sample">
                                <div class="form-group">
                                    <label for="status_pemesanan">Status Pembayaran</label>
                                    <input type="text" class="form-control" id="status_pemesanan" name="status_pemesanan" value="<%= data.status_pemesanan %>" required>
                                </div>
                                <div class="form-group">
                                    <label for="jumlah">Jumlah</label>
                                    <input type="number" class="form-control" id="jumlah" name="jumlah" value="<%= data.jumlah %>" required>
                                </div>
                                <div class="form-group">
                                    <label for="id_menu">Menu</label>
                                    <select class="form-control" id="id_menu" name="id_menu" required>
                                        <option value="<%= data.id_menu %>"><%= data.nama_menu %></option>
                                        <% for(var i=0; i < data_menu.length; i++){ %>
                                            <option value="<%= data_menu[i].id_menu %>"><%= data_menu[i].nama_menu %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="id_users">Users</label>
                                    <select class="form-control" id="id_users" name="id_users" required>
                                        <option value="<%= data.id_users %>"><%= data.nama_users %></option>
                                        <% for(var i=0; i < data_users.length; i++){ %>
                                            <option value="<%= data_users[i].id_users %>"><%= data_users[i].nama_users %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                                <button type="button" class="btn btn-light" onclick="history.back()">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../partials/__foot.ejs') %>
</body>
